body {
    background-color: bisque;
}

h2 {
    text-align: center;
    color: rgb(32, 186, 32);
}

img {
    width: 400px;
    height: 400px;
    border: 10px double rgb(139, 205, 33);
}

.paragrafi {
    color: limegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p:nth-of-type(2) {
    color: purple;
}

p>a {
    color: red;
    text-decoration: none;
}

p>a:hover {
    color: green;
}