* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

h1, h3 {
    margin: 10px 0;
    color: purple;
}

nav {
    margin: 15px auto;
}

button, #btnSend, #btnUpdate {
    padding: 7px 20px;
    width: 15%;
    background-color: purple;
    border: 1px solid purple;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
button:hover, #btnSend:hover, #btnUpdate:hover {
    background-color: rgb(73, 0, 73);
}

#username, #message {
    padding: 7px 20px;
    border-radius: 3px;
    width: 30%;
    height: 35px;
    margin-right: 5px;
}

form {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    button {
        width: 100%;
        border-bottom: 2px solid white;
        border-radius: 0%;
        padding: 7px 0;
    }

    #btnSend, #btnUpdate {
        width: 39%;
    }

    #username, #message {
        width: 60%;
    }
}